@import "../../module/scss/colors";

.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
  text-align: center;
  margin-top: 1.2rem;


  &__left {
    &__title {
      font-size: 61px;
      font-weight: 700;
      color: $primary;
    }

    &__subtitle {
      color: $secondary;
      margin-bottom: 1.2rem;
    }

    &__description {
      color: $color-gray;
      margin-bottom: 1.2rem;
      word-break: break-all;
      text-align: center;
    }

    &__btn {
      padding: .8rem 1.8rem;
      background-color: $primary;
      color: $color-white;
      font-size: 20px;
      border-radius: .4rem;
      border: none;
    }
  }

  &__right {
    img {
      max-width: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-top: 1.8rem;
    padding: 1rem;

    &__left {
      &__description {
        text-align: justify;
      }
    }
  }
}