@import "../../module/scss/colors";

header {
  background-color: $primary;
  padding: 1.2rem;

  .navbar {
    &__logo {
      color: $color-white;
      font-size: 48px;
      text-decoration: none;
      font-weight: 600;
    }

    &__list {
      display: flex;
      flex-direction: column;

      .navbar__item {
        font-size: 25px;
        color: $color-white;
        text-decoration: none;
      }
    }

    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .1rem 1rem;

      &__list {
        flex-direction: row;
        gap: 1.2rem;

        .navbar__item:hover {
          border-bottom: 1.4px solid $color-white;
        }
      }
    }
  }
}