@import "../../module/scss/colors";

section {
  .province {
    &__title {
      color: $primary;
      font-size: 61px;
      text-align: center;
    }


    &__subtitle {
      color: $secondary;
      text-align: center;
    }

    .table-container {
      overflow: auto;

      table {
        width: 100%;
        margin-top: 1.6rem;
        border-collapse: collapse;
        word-wrap: break-word;


        th {
          color: $primary;
          font-weight: bold;
          text-align: center;
          border: 1px solid #ccc;
          padding: .8rem 0;
        }

        td {
          padding: 4px;
          border: 1px solid #ccc;
          text-align: center;
        }


        tbody {
          tr>.city {
            text-align: left;
          }
        }
      }
    }
  }
}