@import "../../module/scss/colors";

section {
  margin: 0 2rem;
  margin-top: 2rem;

  .global {
    text-align: center;

    &__title {
      font-size: 61px;
      color: $primary;
    }

    &__subtitle {
      color: $secondary;
    }


    &__container {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .card {
        padding: 1.2rem;
        background-color: $color-white;
        border-radius: .6rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        &__title {
          font-size: 30px;
        }

        &__subtitle--postitive {
          font-size: 42px;
          font-weight: 600;
          color: $primary;
        }

        &__subtitle--recovered {
          font-size: 46px;
          font-weight: 600;
          color: $secondary;
        }

        &__subtitle--death {
          font-size: 46px;
          font-weight: 600;
          color: $danger;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      &__container {
        flex-direction: row;
        justify-content: center;

        .card {
          padding: 2rem;
          margin: 0 1rem;
        }
      }
    }

  }
}